.recplaybuttons {
    display: flex;
}

.projbtns {
    padding: .5rem 1rem; 
    border: none; 
    background-color: greenyellow; 
    font-size: 2rem;
    width: 190px;
}

.edit-modal {
    width: 300px;
    height: 350px;
    position: absolute;
    background-color: black;
    top: 100px;
    left: 25%;
    z-index: 100;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    display: none;
}

.savecancelbtns {
    display: flex;
    justify-content: center;
}

.editbtns {
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    color: black;
    margin: 20px;
}

.modalbkg {
    z-index: 50;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

.editbtns:hover {
    cursor: pointer;
    background-color: darkslategray;
    color: blanchedalmond;
}

.record-button {
    background-color: gray;
}

.record-button:hover,
.record-button:focus {
    background-color: darkslategray;
    cursor: pointer;
}

.record-button.active {
    background-color: red;
}

.play-button {
    background-color: greenyellow;
}

.play-button:hover,
.play-button:focus {
    background-color: #8cd51e;
    cursor: pointer;
}

.edit-button {
    background-color: burlywood;
}

.edit-button:hover,
.edit-button:focus {
    background-color: #b99565;
    cursor: pointer;
}

.play-button, 
.edit-button {
    display: none;
}

.play-button.show, 
.edit-button.show {
    display: block;
}


/* .play-button.active {
    background-color: red;
} */